:root {
  /* Main accent color */
  --accent: var(--peach);
  --light-acccent: var(--light-peach);
  /* Dark theme color palette */
  --rosewater: #f4dbd6;
  --flamingo: #f0c6c6;
  --pink: #f4b8e4;
  --mauve: #ca9ee6;
  --red: #ed8796;
  --peach: #ee99a0;
  --orange: #f5a97f;
  --yellow: #eed49f;
  --green: #a6da95;
  --teal: #81c8be;
  --sky: #99d1db;
  --sapphire: #85c1dc;
  --blue: #8aadf4;
  --lavender: #babbf1;
  --text: #cad3f5;
  --subtext: #b8c0e0;
  --background: #181926;
  --foreground: #24273a;
  /* Light theme color palette */
  --light-rosewater: #dc8a78;
  --light-flamingo: #dd7878;
  --light-pink: #ea76cb;
  --light-mauve: #8839ef;
  --light-red: #d20f39;
  --light-peach: #fe640b;
  --light-yellow: #df8e1d;
  --light-green: #40a02b;
  --light-teal: #179299;
  --light-sky: #04a5e5;
  --light-sapphire: #209fb5;
  --light-blue: #1e66f5;
  --light-lavender: #7287fd;
  --light-text: #4c4f69;
  --light-subtext: #5c5f77;
  --light-foreground: #eff1f5;
  --light-mantle: #e6e9ef;
  --light-background: #dce0e8;
}

body {
  background: light-dark(#eff1f5, #24273a);
}
h1 {
  font-size: 4rem;
  font-family: "Roboto Slab", var(--pico-font-family);
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  /* hyphens: auto; */
}
pre {
  margin-top: calc(var(--pico-spacing) / 2);
}
.ignore {
  display: none;
}
@media screen and (max-width: 575px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 360px) {
  h1 {
    font-size: 2rem;
  }
}
